USE [master]
GO
/****** Object:  Database [StudentCourseManagement]    Script Date: 2024-09-12 10:33:33 PM ******/
CREATE DATABASE [StudentCourseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentCourseManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentCourseManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentCourseManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentCourseManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentCourseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentCourseManagement]
GO
/****** Object:  Schema [StudentCourseManagement]    Script Date: 2024-09-12 10:33:33 PM ******/
CREATE SCHEMA [StudentCourseManagement]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2024-09-12 10:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](100) NULL,
	[course_description] [text] NULL,
	[instructor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2024-09-12 10:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[enrollment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 2024-09-12 10:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[instructor_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[instructor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2024-09-12 10:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [course_name], [course_description], [instructor_id]) VALUES (1, N'Introduction to Programming', N'Learn the basics of programming with Python.', 1)
INSERT [dbo].[Courses] ([course_id], [course_name], [course_description], [instructor_id]) VALUES (2, N'Data Structures and Algorithms', N'An in-depth study of data structures and algorithms.', 2)
INSERT [dbo].[Courses] ([course_id], [course_name], [course_description], [instructor_id]) VALUES (3, N'Web Development', N'Building websites and web applications with HTML, CSS, and JavaScript.', 3)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrollment_date]) VALUES (1, 4, 3, CAST(N'2023-10-15' AS Date))
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrollment_date]) VALUES (2, 2, 2, CAST(N'2023-09-20' AS Date))
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrollment_date]) VALUES (3, 3, 4, CAST(N'2023-09-10' AS Date))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([instructor_id], [first_name], [last_name], [email]) VALUES (1, N'Ahmed', N'Shawky', N'ahmed.shawky@alexu.edu.eg')
INSERT [dbo].[Instructors] ([instructor_id], [first_name], [last_name], [email]) VALUES (2, N'Hoda', N'Hassan', N'hoda.hassan@alexu.edu.eg')
INSERT [dbo].[Instructors] ([instructor_id], [first_name], [last_name], [email]) VALUES (3, N'Aymen', N'Khalil', N'aymen.khalil@alexu.edu.eg')
SET IDENTITY_INSERT [dbo].[Instructors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([student_id], [first_name], [last_name], [email], [date_of_birth]) VALUES (1, N'Ahmed', N'Nasser', N'ahmed.nasser@alexu.com', CAST(N'2001-05-12' AS Date))
INSERT [dbo].[Students] ([student_id], [first_name], [last_name], [email], [date_of_birth]) VALUES (2, N'Fatima', N'Saeed', N'fatima.saeed@alexu.com', CAST(N'2003-11-24' AS Date))
INSERT [dbo].[Students] ([student_id], [first_name], [last_name], [email], [date_of_birth]) VALUES (3, N'Omar', N'Khaled', N'omar.khaled@alexu.com', CAST(N'2002-02-18' AS Date))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Instructors] ([instructor_id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
USE [master]
GO
